@import "tailwindcss";

:root {
  --primary-color: #4f46e5;
  --hover-color: #3b82f6;
}

.nav-styles {
  @apply text-white font-semibold whitespace-nowrap px-2.5 py-3 text-sm hover:bg-red-500 xl:px-5 xl:text-base;
}

.text-hover:hover {
  color: var(--hover-color);
}
